<!-- Navigation Bloc -->
<div class="bloc sticky-nav bgc-indigo-dye d-bloc" id="nav-bloc">
  <div class="container bloc-sm">
    <nav class="navbar row">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Sacramento Elected Officials</a>
        <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-1">
        <ul class="site-navigation nav navbar-nav">
          <li>
            <%= link_to "HOME", root_path %>
          </li>
          <li>
            <a href="https://itunes.apple.com/us/app/sacramento-elected-officials/id1097685110?mt=8", class="btn btn-default animated fadeInDown btn-splashed-white">GET THE APP</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
