<!DOCTYPE html>
<html>
<head>
  <title>Elected</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
