<!-- Main container -->
<div class="page-container">

<!-- Navigation Bloc -->
<div class="bloc sticky-nav bgc-indigo-dye d-bloc" id="nav-bloc">
  <div class="container bloc-sm">
    <nav class="navbar row">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Sacramento Elected Officials</a>
        <button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
          <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse navbar-1">
        <ul class="site-navigation nav navbar-nav">
          <li>
            <a href="index.html">HOME</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
<!-- Navigation Bloc END -->

<!-- Bloc Group -->
<div class='bloc-group'>

<!-- bloc-1 -->
<div class="bloc bloc-tile-2 bgc-indigo-dye d-bloc" id="bloc-1">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag("Screenshot-2", class: "center-block animated fadeInLeft", height: "600") %>
      </div>
    </div>
  </div>
</div>
<!-- bloc-1 END -->

<!-- bloc-2 -->
<div class="bloc bloc-tile-2 bgc-indigo-dye d-bloc" id="bloc-2">
  <div class="container bloc-lg">
    <div class="row voffset-lg">
      <div class="col-sm-12">
        <h1 class="mg-md animated fadeInDown">
          Heading content
        </h1>
        <p class="animated fadeInDown">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p><a href="index.html" class="btn   btn-lg animated fadeInDown btn-splashed-white">GET THE APP</a>
      </div>
    </div>
  </div>
</div>
<!-- bloc-2 END -->
</div>
<!-- Bloc Group END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<!-- Footer - bloc-3 -->
<div class="bloc l-bloc bgc-white" id="bloc-3">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="mg-md text-center">
          Some of The Awesome Features
        </h1>
      </div>
    </div>
    <div class="row voffset">
      <div class="col-sm-4">
        <span class="fa fa-star icon-round icon-md pull-right animated fadeInLeft"></span>
        <h3 class="text-right mg-sm animated fadeInLeft">
          Heading content
        </h3>
        <p class="text-right mg-lg animated fadeInLeft">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
        </p><span class="fa fa-star icon-round icon-md pull-right animated fadeInLeft animDelay02"></span>
        <h3 class="text-right mg-sm animated fadeInLeft animDelay02">
          Heading content
        </h3>
        <p class="text-right animated fadeInLeft animDelay02 mg-lg">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
        </p><span class="fa fa-star icon-round icon-md pull-right animated fadeInLeft animDelay04"></span>
        <h3 class="text-right mg-sm animated fadeInLeft animDelay04">
          Heading content
        </h3>
        <p class="text-right mg-lg animated fadeInLeft animDelay04">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
        </p>
      </div>
      <div class="col-sm-4">
        <%= image_tag("Screenshot-4.png", class: "img-responsive center-block") %>
      </div>
      <div class="col-sm-4">
        <span class="fa fa-star icon-round icon-md pull-left animated fadeInRight"></span>
        <h3 class="mg-sm animated fadeInRight">
          Heading content
        </h3>
        <p class="mg-lg animated fadeInRight">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
        </p><span class="fa fa-star icon-round icon-md pull-left animated fadeInRight animDelay02"></span>
        <h3 class="mg-sm animated fadeInRight animDelay02">
          Heading content
        </h3>
        <p class="mg-lg animated fadeInRight animDelay02">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
        </p><span class="fa fa-star icon-round icon-md pull-left animated fadeInRight animDelay04"></span>
        <h3 class="mg-sm animated fadeInRight animDelay04">
          Heading content
        </h3>
        <p class="mg-lg animated fadeInRight animDelay04">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Footer - bloc-3 END -->

<!-- Footer - bloc-4 -->
<div class="bloc bgc-pumpkin d-bloc" id="bloc-4">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-sm-10">
        <h3 class="mg-md">
          Download from the App Store Today!
        </h3>
      </div>
      <div class="col-sm-2">
        <a href="index.html" class="btn   btn-lg btn-indigo-dye">Download</a>
      </div>
    </div>
  </div>
</div>
<!-- Footer - bloc-4 END -->

<!-- Footer - bloc-5 -->
<div class="bloc bgc-indigo-dye d-bloc" id="bloc-5">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="mg-md text-center text-w-md">
          Sacramento Elected Officials
        </h3>
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <span class="fa fa-star pull-right icon-md"></span>
              </div>
              <div class="col-sm-6">
                <span class="fa fa-star pull-left icon-md"></span>
              </div>
            </div>
            <p class="text-center mg-lg text-w-lg">
              Copyright 2016 - www.sacramentocounty.online
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer - bloc-5 END -->
</div>
<!-- Main container END -->
