<!-- Bloc Group -->
<div class='bloc-group'>

<!-- bloc-1 -->
<div class="bloc bloc-tile-2 bgc-indigo-dye d-bloc" id="bloc-1">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <%= image_tag('s2.png', class: "img-responsive pull-right animated fadeInLeft") %>
      </div>
    </div>
  </div>
</div>
<!-- bloc-1 END -->

<!-- bloc-2 -->
<div class="bloc bloc-tile-2 bgc-indigo-dye d-bloc" id="bloc-2">
  <div class="container bloc-lg">
    <div class="row voffset-lg">
      <div class="col-sm-12">
        <h1 class="animated fadeInDown mg-clear">
          Connect with Local Elected
        </h1>
        <h1 class="animated fadeInDown mg-clear">
          Officials in Sacramento County!
        </h1>
        <h4 class="mg-md animated fadeInDown mg-clear">
          Search for local elected officials within Sacramento County and the seven incorporated cities located in the county. Connect with them through email, phone or their facebook page.
        </h4><a href="index.html" class="btn   btn-lg animated fadeInDown btn-splashed-white">GET THE APP</a>
      </div>
    </div>
  </div>
</div>
<!-- bloc-2 END -->
</div>
<!-- Bloc Group END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span class="fa fa-chevron-up"></span></a>
<!-- ScrollToTop Button END-->


<!-- Footer - bloc-3 -->
<div class="bloc l-bloc bgc-white" id="bloc-3">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="mg-md text-center">
          Some of The Awesome Features
        </h1>
      </div>
    </div>
    <div class="row voffset">
      <div class="col-sm-4">
        <span class="fa fa-group icon-round icon-md pull-right animated fadeInLeft"></span>
        <h3 class="text-right mg-sm animated fadeInLeft">
          Search by City
        </h3>
        <p class="text-right mg-lg animated fadeInLeft">
          Officials are gropped by city. Scroll through all officials located in the city.
        </p><span class="fa fa-user icon-round icon-md pull-right animated fadeInLeft animDelay02"></span>
        <h3 class="text-right mg-sm animated fadeInLeft animDelay02">
          Search by Official
        </h3>
        <p class="text-right animated fadeInLeft animDelay02 mg-lg">
          Search for any elected official in the County Database.
        </p><span class="fa fa-paper-plane-o icon-round icon-md pull-right animated fadeInLeft animDelay04"></span>
        <h3 class="text-right mg-sm animated fadeInLeft animDelay04">
          Email Staff
        </h3>
        <p class="text-right mg-lg animated fadeInLeft animDelay04">
          All of the officials staff members are listed to contact by email.
        </p>
      </div>
      <div class="col-sm-4">
        <%= image_tag('s4.png', class: "img-responsive center-block") %>
      </div>
      <div class="col-sm-4">
        <span class="fa fa-phone icon-round icon-md pull-left animated fadeInRight"></span>
        <h3 class="mg-sm animated fadeInRight">
          Call
        </h3>
        <p class="mg-lg animated fadeInRight">
          Tap on the call button to instantly call your official.
        </p><span class="fa fa-envelope-o icon-round icon-md pull-left animated fadeInRight animDelay02"></span>
        <h3 class="mg-sm animated fadeInRight animDelay02">
          Email
        </h3>
        <p class="mg-lg animated fadeInRight animDelay02">
          Tap on the email button to send an email to your elected official.
        </p><span class="fa fa-facebook icon-round icon-md pull-left animated fadeInRight animDelay04"></span>
        <h3 class="mg-sm animated fadeInRight animDelay04">
          Facebook
        </h3>
        <p class="mg-lg animated fadeInRight animDelay04">
          Connect with the official through their facebook page.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Footer - bloc-3 END -->

<!-- Footer - bloc-4 -->
<div class="bloc bgc-pumpkin d-bloc" id="bloc-4">
  <div class="container bloc-md">
    <div class="row">
      <div class="col-sm-10">
        <h3 class="mg-md">
          Download from the App Store Today!
        </h3>
      </div>
      <div class="col-sm-2">
        <a href="https://itunes.apple.com/us/app/sacramento-elected-officials/id1097685110?mt=8", class="btn   btn-lg btn-indigo-dye">Download</a>
      </div>
    </div>
  </div>
</div>
<!-- Footer - bloc-4 END -->

<!-- Footer - bloc-5 -->
<div class="bloc bgc-indigo-dye d-bloc" id="bloc-5">
  <div class="container bloc-lg">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="mg-md text-center text-w-md">
          Sacramento Elected Officials
        </h3>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-center mg-lg text-w-lg">
              Copyright 2016 - www.sacramentocounty.online
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer - bloc-5 END -->
</div>
<!-- Main container END -->
